dash==2.18.2
pandas==2.2.3
loguru==0.7.2
dash-bootstrap-components==1.6.0
python-dotenv==1.0.1
langchain==0.3.4
langchain-openai==0.2.3
python-dotenv==1.0.1
pydantic==2.9.2
langchain-community==0.3.3
ipykernel==6.29.5
ruff==0.6.8
pre-commit==3.8.0
gunicorn==23.0.0 
python-dotenv==1.0.1